.avatarImage {
    text-align: center;
    width: 225px;
    border-radius: 50%;
}

/* Home Page Styling */

.greyBackground {
    background-color: #061e28;
    border-radius: 25px;
    color: white;
    padding: 10px;
}

.resume {
    color: white;
    text-align: left;
}

/* Resume Page Styling */

.resumeRightCol {
    background: white;
    color: #27221f;
    padding: 2em;
}

.horizontalLine {
    border-top: 3px solid #e22947;
    width: 50%;
    margin-left: 0;
}